# Desafío - Introducción al ambiente de trabajo

## Desafío 1: Hola Mundo

In [1]:
print('Hola Mundo, esta es mi primera incursión en Python')

Hola Mundo, esta es mi primera incursión en Python

## Desafío 2: Ingreso de variables

In [2]:
nombre = 'Nico'

In [4]:
edad = 28

In [5]:
actividades = ['leer libros o contenido en internet', 'jugar juegos de mesa o consola', 'programar']

In [6]:
tiene_mascota = False

## Desafío 3: Imprimiendo Variables

Imprima cada variable creada

- Acceda al segundo elemento de su lista

In [9]:
print(nombre)

Nico

In [11]:
print(edad)

28

In [13]:
print(actividades[1])

jugar juegos de mesa o consola

In [15]:
print(tiene_mascota)

False

Pida los tipo de datos asociados

In [20]:
print('{} {} {} {}'.format(type(nombre), type(edad), type(actividades[1]), type(tiene_mascota)))

<class 'str'> <class 'int'> <class 'str'> <class 'bool'>

Interpole los datos en un método print para generar una presentación sobre usted.

In [17]:
print('Soy {}, tengo {} y me gusta {}. Tengo mascota = {}'.format(nombre, edad, actividades[1], tiene_mascota))

Soy Nico, tengo 28 y me gusta jugar juegos de mesa o consola. Tengo mascota = False

## Desafio 4

A continuación se presenta una serie de códigos que generan errores. Corrígalos y comente cuáles
fueron las fallas

```print('Estaba la pájara pinta sentada en el verde limón)```

In [23]:
# el string quedaba abierto, hay que cerrarlo colocando un ' antes del )
print('Estaba la pájara pinta sentada en el verde limón')

Estaba la pájara pinta sentada en el verde limón

```print('Mi nombre es' name 'y tengo' edad, 'años')```

In [24]:
# no hay concatenación de strings. Se puede solucionar de varias formas, una es interpolando con format
print('Mi nombre es {} y tengo {} años'.format(nombre, edad))

Mi nombre es Nico y tengo 28 años

```
import padnas as pd
import nunnpy as np
```

In [25]:
# se está importando con nombres incorrectos, la libreria se llama pandas y no padnas y numpy no nunnpy
import pandas as pd
import numpy as np

```"Ornitorrinco" + 45```

In [26]:
# el problema es que no se puede sumar str con int, así que tenemos que transformar el 45 en string con la función str
"Ornitorrinco" + str(45)

'Ornitorrinco45'

## Desafío 5: Utilizando pandas y numpy

Importe pandas y numpy

In [27]:
import pandas as pd
import numpy as np

Posteriormente importe el archivo flights.csv

In [28]:
df = pd.read_csv('flights.csv')

Solicite las primeras y últimas 5 observaciones de la tabla de datos.

In [31]:
# primeras 5
df.head(5)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [32]:
# últimas 5
df.tail(5)

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

Utilice describe para obtener las medidas univariadas de la columna year

In [33]:
df['year'].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

Utilice value_counts para obtener la frecuencia de meses y años de la tabla

In [35]:
# frecuencia de meses
df['month'].value_counts()

April        12
June         12
February     12
October      12
November     12
July         12
January      12
September    12
August       12
March        12
May          12
December     12
Name: month, dtype: int64

In [36]:
# frecuencia de años
df['year'].value_counts()

1960    12
1959    12
1958    12
1957    12
1956    12
1955    12
1954    12
1953    12
1952    12
1951    12
1950    12
1949    12
Name: year, dtype: int64

Guarde en variables las primeras y últimas 15 observaciones de la tabla

In [37]:
# primeras 15
head_15 = df.head(15)

In [38]:
# últimas 15
tail_15 = df.tail(15)

Solicite la media, mediana y desviación estandar de la cantidad de pasajeros utilizando los
métodos de numpy . Replique el procedimiento para las últimas y primeras 15 observaciones.

In [39]:
# Media
np.mean(df['passengers'])

280.2986111111111

In [40]:
# Mediana
np.median(df['passengers'])

265.5

In [41]:
# Desviación estandar
np.std(df['passengers'])

119.54904153277148

Vamos ahora con las primeras y últimas observaciones...

Primeras 15 observaciones:

In [43]:
np.mean(head_15['passengers']) # Media

126.8

In [44]:
np.median(head_15['passengers']) # Mediana

126.0

In [45]:
np.std(head_15['passengers']) # Desviación estandar

12.681745410891462

Últimas 15 observaciones:

In [46]:
np.mean(tail_15['passengers']) # Media

459.2

In [49]:
np.median(tail_15['passengers']) # Mediana

432.0

In [50]:
np.std(tail_15['passengers']) # Desviación estandar

75.29426715671431

**Observaciones:**

"Brevemente":

- Los datos están más dispersos en los últimos 15 que en los primeros 15. De hecho, en los primeros 15, hay poca dispersión (desviación estandar es pequeña, y la media es cercana a la mediana)
- A nivel global, los datos están muy dispersos (ya que la desviación es alta). De hecho, la disperción es mayor que en los subconjuntos analizados (primeros 15 y últimos 15)